﻿<h2>聊天室</h2>
<div class="container">
    <input type="text" id="name" class="form-control" placeholder="姓名" />
    <br />
    <input type="text" id="message" class="form-control" placeholder="輸入內容" />
    <br />
    <input type="button" id="sendmessage" value="Send" class="btn btn-primary" />
    <br />
    <br />
    <ul id="discussion"></ul>
</div>
@section scripts {
    <script src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script>
        $(function () {
            var hub = $.connection.testHubs;
            hub.client.addNewMessageToPage = function (name, message) {
                $('#discussion').append('<li><strong>' + htmlEncode(name)
                    + '</strong>: ' + htmlEncode(message) + '</li>');
            };
            $('#message').focus();
            $.connection.hub.start().done(function () {
                $('#sendmessage').click(function () {
                    hub.server.send($('#name').val(), $('#message').val());
                    $('#message').val('').focus();
                });
            });
        });

        function htmlEncode(value) {
            var encodedValue = $('<div />').text(value).html();
            return encodedValue;
        }
    </script>
}